In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('daily_offers.csv')
dataset.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_9824\750506060.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('daily_offers.csv')

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.15,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.02,30202938.0,25.0,Won,W,41.0,0.80,1210.0,104991,1668701718,20210401.0,1047.00
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.13,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33
3,F8D507A0-9C62-4EFE-831E-33E1DA53BB50,20210401.0,202.41,30349574.0,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,20210101.0,768.00
4,4E1C4E78-152B-430A-8094-ADD889C9D0AD,20210401.0,785.53,30211560.0,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,20210301.0,577.00

In [3]:
dataset.head()

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.15,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.02,30202938.0,25.0,Won,W,41.0,0.80,1210.0,104991,1668701718,20210401.0,1047.00
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.13,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33
3,F8D507A0-9C62-4EFE-831E-33E1DA53BB50,20210401.0,202.41,30349574.0,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,20210101.0,768.00
4,4E1C4E78-152B-430A-8094-ADD889C9D0AD,20210401.0,785.53,30211560.0,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,20210301.0,577.00

In [4]:
# select the important feature
# quantity
# customer
# country
# application
# thickness
# width
# selling pricea
datasets = dataset[['status','item type']]

In [5]:
dummy_df = pd.get_dummies(datasets)
dummy_df

,status_Draft,status_Lost,status_Not lost for AM,status_Offerable,status_Offered,status_Revised,status_To be approved,status_Won,status_Wonderful,item type_IPL,item type_Others,item type_PL,item type_S,item type_SLAWR,item type_W,item type_WI
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181668,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181669,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181670,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181671,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181672,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0

In [6]:
pd.get_dummies(datasets, drop_first = True)

,status_Lost,status_Not lost for AM,status_Offerable,status_Offered,status_Revised,status_To be approved,status_Won,status_Wonderful,item type_Others,item type_PL,item type_S,item type_SLAWR,item type_W,item type_WI
0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,1,0,0,0,1,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181668,0,0,0,0,0,0,1,0,0,0,0,0,1,0
181669,0,0,0,0,0,0,1,0,0,0,0,0,1,0
181670,0,0,0,0,0,0,1,0,0,0,0,0,1,0
181671,0,0,0,0,0,0,1,0,0,0,0,0,1,0
181672,0,0,0,0,0,0,1,0,0,0,0,0,1,0

In [19]:
dataset = dataset[['quantity tons','selling_price']]

In [20]:
dataset= pd.concat([dataset, dummy_df], axis=1)
dataset

,quantity tons,selling_price,status_Draft,status_Lost,status_Not lost for AM,status_Offerable,status_Offered,status_Revised,status_To be approved,status_Won,status_Wonderful,item type_IPL,item type_Others,item type_PL,item type_S,item type_SLAWR,item type_W,item type_WI
0,54.15,854.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,768.02,1047.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,386.13,644.33,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
3,202.41,768.00,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,785.53,577.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178706,NaN,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
179751,NaN,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
179779,NaN,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
180452,NaN,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
180552,NaN,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0

In [21]:
# shape of data
dataset.shape

(181673, 18)

In [22]:
dataset.isnull().sum()/dataset.shape[0]*100

quantity tons             0.369895
selling_price             0.369345
status_Draft              0.000000
status_Lost               0.000000
status_Not lost for AM    0.000000
status_Offerable          0.000000
status_Offered            0.000000
status_Revised            0.000000
status_To be approved     0.000000
status_Won                0.000000
status_Wonderful          0.000000
item type_IPL             0.000000
item type_Others          0.000000
item type_PL              0.000000
item type_S               0.000000
item type_SLAWR           0.000000
item type_W               0.000000
item type_WI              0.000000
dtype: float64

In [23]:
dataset.dropna(inplace=True)

In [24]:
dataset.duplicated().sum()

777

In [25]:
dataset.drop_duplicates(keep=False, inplace=True)

In [26]:
dataset.isnull().sum()

quantity tons             0
selling_price             0
status_Draft              0
status_Lost               0
status_Not lost for AM    0
status_Offerable          0
status_Offered            0
status_Revised            0
status_To be approved     0
status_Won                0
status_Wonderful          0
item type_IPL             0
item type_Others          0
item type_PL              0
item type_S               0
item type_SLAWR           0
item type_W               0
item type_WI              0
dtype: int64

In [27]:
dataset.duplicated().sum()

0

In [28]:
# dataset = dataset.astype(float)
print(dataset.dtypes)

quantity tons             float64
selling_price             float64
status_Draft                uint8
status_Lost                 uint8
status_Not lost for AM      uint8
status_Offerable            uint8
status_Offered              uint8
status_Revised              uint8
status_To be approved       uint8
status_Won                  uint8
status_Wonderful            uint8
item type_IPL               uint8
item type_Others            uint8
item type_PL                uint8
item type_S                 uint8
item type_SLAWR             uint8
item type_W                 uint8
item type_WI                uint8
dtype: object

In [29]:
dataset['quantity tons'] = pd.to_numeric(dataset['quantity tons'],errors = 'coerce')

In [30]:
dataset

,quantity tons,selling_price,status_Draft,status_Lost,status_Not lost for AM,status_Offerable,status_Offered,status_Revised,status_To be approved,status_Won,status_Wonderful,item type_IPL,item type_Others,item type_PL,item type_S,item type_SLAWR,item type_W,item type_WI
0,54.15,854.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,768.02,1047.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,386.13,644.33,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
3,202.41,768.00,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,785.53,577.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181668,102.48,591.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181669,208.09,589.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181670,4.24,619.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181671,-2000.00,601.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
181672,406.69,607.00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0

In [31]:
floating_columns = dataset.select_dtypes(include=[np.floating]).columns
subset_df = dataset[floating_columns]
dataset = dataset[np.isfinite(subset_df).all(1)]

In [32]:
dataset = dataset.astype(int)

In [33]:
print(dataset.dtypes)

quantity tons             int32
selling_price             int32
status_Draft              int32
status_Lost               int32
status_Not lost for AM    int32
status_Offerable          int32
status_Offered            int32
status_Revised            int32
status_To be approved     int32
status_Won                int32
status_Wonderful          int32
item type_IPL             int32
item type_Others          int32
item type_PL              int32
item type_S               int32
item type_SLAWR           int32
item type_W               int32
item type_WI              int32
dtype: object

In [34]:
x = dataset.drop('selling_price', axis=1)
print(x)

        quantity tons  status_Draft  status_Lost  status_Not lost for AM  \
0                  54             0            0                       0
1                 768             0            0                       0
2                 386             0            0                       0
3                 202             0            0                       0
4                 785             0            0                       0
...               ...           ...          ...                     ...
181668            102             0            0                       0
181669            208             0            0                       0
181670              4             0            0                       0
181671          -2000             0            0                       0
181672            406             0            0                       0

        status_Offerable  status_Offered  status_Revised  \
0                      0               0               0
1                      0               0               0
2                      0               0               0
3                      0               0               0
4                      0               0               0
...                  ...             ...             ...
181668                 0               0               0
181669                 0               0               0
181670                 0               0               0
181671                 0               0               0
181672                 0               0               0

        status_To be approved  status_Won  status_Wonderful  item type_IPL  \
0                           0           1                 0              0
1                           0           1                 0              0
2                           0           1                 0              0
3                           0           1                 0              0
4                           0           1                 0              0
...                       ...         ...               ...            ...
181668                      0           1                 0              0
181669                      0           1                 0              0
181670                      0           1                 0              0
181671                      0           1                 0              0
181672                      0           1                 0              0

        item type_Others  item type_PL  item type_S  item type_SLAWR  \
0                      0             0            0                0
1                      0             0            0                0
2                      0             0            0                0
3                      0             0            1                0
4                      0             0            0                0
...                  ...           ...          ...              ...
181668                 0             0            0                0
181669                 0             0            0                0
181670                 0             0            0                0
181671                 0             0            0                0
181672                 0             0            0                0

        item type_W  item type_WI
0                 1             0
1                 1             0
2                 0             1
3                 0             0
4                 1             0
...             ...           ...
181668            1             0
181669            1             0
181670            1             0
181671            1             0
181672            1             0

[179456 rows x 17 columns]

In [35]:
y = dataset.selling_price
y

0          854
1         1047
2          644
3          768
4          577
          ...
181668     591
181669     589
181670     619
181671     601
181672     607
Name: selling_price, Length: 179456, dtype: int32

In [36]:
ysvm = (y,1)
ysvm

(0          854
 1         1047
 2          644
 3          768
 4          577
           ...
 181668     591
 181669     589
 181670     619
 181671     601
 181672     607
 Name: selling_price, Length: 179456, dtype: int32,
 1)

In [37]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =0.10, random_state=0)
# x_trainsvm, x_testsvm, y_trainsvm, y_testsvm = train_test_split(x, ysvm, test_size = 0.10, random_state=0)

In [38]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [39]:
from sklearn.linear_model  import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
# from sklearn.svm import SVR

In [40]:
from sklearn.preprocessing import StandardScaler
modelLR = LinearRegression()
# poly_reg = PolynomialFeatures(degree =5)
# x_poly = poly_reg.fit_transform(x_train)
modelPLR = LinearRegression()
modelRFR = RandomForestRegressor(n_estimators = 10, random_state= 0)
modelDTR = DecisionTreeRegressor(random_state= 0)
# modelSVR = SVR(kernel = 'rbf')

# sc_x = StandardScaler()
# sc_y = StandardScaler()
# x_trainsvm = sc_x.fit_transform(x_trainsvm)
# y_trainsvm = sc_y.fit_transform(y_trainsvm)

In [41]:
modelLR.fit(x_train, y_train)
# modelPLR.fit(x_poly, y_train)
modelRFR.fit(x_train, y_train)
modelDTR.fit(x_train, y_train)
# modelSVR.fit(x_trainsvm, y_trainsvm)

DecisionTreeRegressor(random_state=0)

In [42]:
LR_pred = modelLR.predict(x_test)
# PLR_pred = modelPLR.predict(poly_reg.transform(x_test))
RFR_pred = modelRFR.predict(x_test)
DTR_pred = modelDTR.predict(x_test)
# SVR_pred = sc_y.inverse_transform(modelSVR.predict(sc_x.transform(x_test)).reshape(-1, 1))

In [43]:
from sklearn.metrics import r2_score
print("LR acc:{}".format(r2_score(y_test, LR_pred)))
# print("PLR acc:{}".format(r2_score(y_test, PLR_pred)))
print("RFR acc:{}".format(r2_score(y_test, RFR_pred)))
print("DTR acc:{}".format(r2_score(y_test, DTR_pred)))
# print("SVR acc:{}".format(r2_score(y_test, SVR_pred)))

LR acc:-1.95911514625415e+22
RFR acc:-0.26236721997223356
DTR acc:-0.5282525020777242